#image_0{background-image:url('Result.png'); background-position:0px -0px; width:1382px; height:461px; }
#image_1{background-image:url('Result.png'); background-position:0px -461px; width:1382px; height:461px; }
